/* 引入霞鹜文楷字体 */
@import url("https://cdn.jsdelivr.net/npm/@callmebill/lxgw-wenkai-web@latest/style.css");

/* 将字体应用到整个网站 */
body {
    font-family: "LXGW WenKai", sans-serif;
}

.md-grid {
  max-width: 1280px; /* 你可以将 1440px 替换为任何你想要的值 */
}


details.note {
    font-size: 14px;   
}
details.bug {
    font-size: 14px;   
}
details.success {
    font-size: 14px;   
}
details.info {
    font-size: 14px;   
}
details.tip {
    font-size: 14px;   
}
details.help {
    font-size: 14px;   
}
details.error {
    font-size: 14px;   
}
details.example {
    font-size: 14px;   
}
details.warning {
    font-size: 14px;   
}
details.fail {
    font-size: 14px;   
}