@font-face {
  font-family: 'LXGW WenKai';
  src: url('../fonts/LXGWWenKaiGBLite-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: 'LXGW WenKai', 'PingFang SC', 'Microsoft YaHei', 'Noto Sans SC', sans-serif; !important
}

.md-grid {
  max-width: 1280px; /* 你可以将 1440px 替换为任何你想要的值 */
}


details.note {
    font-size: 14px;   
}
details.bug {
    font-size: 14px;   
}
details.success {
    font-size: 14px;   
}
details.info {
    font-size: 14px;   
}
details.tip {
    font-size: 14px;   
}
details.help {
    font-size: 14px;   
}
details.error {
    font-size: 14px;   
}
details.example {
    font-size: 14px;   
}
details.warning {
    font-size: 14px;   
}
details.fail {
    font-size: 14px;   
}

/* 让所有块级公式左对齐 */
.katex-display > .katex {
    text-align: left !important;
}

/* 可选：如果你希望公式像普通段落一样，没有额外缩进 */
.katex-display {
    margin: 1em 0 !important; /* 调整上下边距 */
}

